<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HUUTHANG SHOP - Spring Boot Security">
    <title th:text="${title + ' - HUUTHANG SHOP'}">HUUTHANG SHOP</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div th:fragment="page(content)">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="container" th:insert="${content}"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>
